@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.menucard {
  position: absolute;
  left: 150px;
  top: 60px;
  width: 200px;
  height: 300px;
  background-color: aquamarine;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
}


@layer components{
  .hoverAnimation{
    @apply hover:bg-black hover:bg-opacity-10 rounded-full cursor-pointer w-[252px] h-[52px] xl:w-auto xl:h-auto xl:py-3 xl:px-4 
    transition duration-200 ease-out;

}
.navbtn {
  @apply  h-6 inline-flex
  cursor-pointer hover:scale-125
  transition-all duration-150 ease-out;
}
.navcard {
  @apply   inline-flex
  cursor-pointer hover:scale-125
  transition-all duration-150 ease-out;
}
.slider-container {
  width: 60%; /* Adjust as needed */
}

.slider-container .slick-slide {
  padding: 10px;
}

.h-screen {
  width: 100%; /* Adjust as needed */
}

}

